.DS_Store
.env
.venv/
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
*.py[cod]
*.db
*.db-shm
*.db-wal
coverage.xml
htmlcov/
dist/
build/
node_modules/
*.streamDeckPlugin
config/inventory.yaml
